
 <mat-toolbar color="primary" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/manage">PokeAngular</a>
  <span class="example-spacer"></span>
  <a  routerLink="/vote"  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   Votation
  </a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/result" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    Ranking
  </a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>